// ===========================================================================
// COLOURING (SPECIFIC CASE SCENARIOS)
// ===========================================================================

.content-page-main h2 { 	color: $color-primary;	}
.page-id-346 em { 			color: $color-primary; }

.color-primary { color: $color-primary; }
.color-secondary { color: $color-secondary; }
.bkg-primary { background-color: $color-primary; }
.bkg-secondary { background-color: $color-secondary; }